<tr class="table-light">
    <td colspan="4" class="text-end fw-bold fs-5">Suma całkowita:</td>
    <td class="text-end fw-bold fs-5 text-nowrap">{{ total|number_format(2, ',', ' ') }} zł</td>
    <td></td>
</tr>