<form method="post" action="{{ path('app_admin_ticket_type_delete', {'event_id': event.id, 'id': tt.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć ten typ biletu?');" class="d-inline-block ms-1">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tt.id) }}">
    <button class="btn btn-sm btn-danger" title="Usuń"><i class="bi bi-trash"></i></button>
</form>